/* GENERAL*/
* {
    margin: 0;}
    html {

        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    body {
     
        font-family: "Lato", sans-serif;
        margin: 0;
        padding: 0;
        background: #fff;
        height: 100%;

    }
    #main{
     padding-bottom: 85px;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    font-weight: bold;
    font-family: 'Rokkitt','sans-serif';

}
ul,ol
{
list-style:none;
}

section {

    padding: 45px 0 20px 0;
}

section .heading {
    text-align: center;
    padding-bottom: 30px;
}

section .heading h2 {
    text-transform: uppercase;
}


.insta_police p {
    display: inline;
    font-family: "Pacifico";
    font-size: 2em;
    padding: 10px;
}
.red-divider {
    width: 100px;
    height: 2px;
    background: #d82c2e;
    margin: 0 auto;
    /*centre l'lelement*/
}

.white-divider {
    width: 100px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
    /*centre l'lelement*/
}

.contact-divider {
    width: 100px;
    height: 2px;
    background: #d82c2e;
    margin: 100px auto;
    /*centre l'lelement*/
}

.contact {
    margin-bottom: 20px;
}

#folio{
    margin:0;

}

/*MENU*/

.navbar {
    background: #d82c2e;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar li a {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #d82c2e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-style: none;
}

.icon-bar {
    background-color: #fff !important;
}
/* DEVIS */
#devis {
    padding-top: 50px;
    background: #fff;
    margin-bottom: 30px;
}

#devis  h2 {
    font-family: 'Rokkitt';
    color: black;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 60px;
}
#devis  h5 {
    color: black;
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
}
#devis p{
    color:grey;
    font-size: 15px;
}
.rimg img{
    height:200px;
    margin-bottom: 20px;
}
/* ABOUT */

#about {
    padding-top: 100px;
    background: #d82c2e;
}
#about h1{
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}
#about h3{
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

.profile-picture {
    text-align: center;
    margin: 0 auto;
    float: none;
}

#about .heading h1 {
    color: #fff;
    text-transform: uppercase;
}

#about .heading h3 {
    color: #000;
    font-size:30px;
    font-weight: 600;
    max-width:300px;
    box-shadow: 2px 2px 20px black;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;

}
/*****Button**********/
.button1 {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}

.button1:hover {
    background: white;
    color: #d82c2e;
    text-decoration: none;
}
.button2 {
    border: 1px solid #ddd;
    background: #d82c2e;
    color: #fff;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 18px;
}

.button3 {
    font-weight: bold;
    text-transform: uppercase;
    color: red;
    border: 1px solid red;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}
.button3:hover {
    background: red;
    color: #fff;
    text-decoration: none;
}
.btn_elt {
    margin-top: 4%;
}
.btn4 {
    margin-left: 10px;
}


/* SKILLS */
.prog {
    background-color: #fff;
}
#skills {
    background: #fff;
}
#skills .heading h2 {
    color: #d82c2e;
}
#skills .progress {
    height: 5%;
    margin: 30px 20px;

}
#skills .progress-bar {
    background: #d82c2e;
}
#skills .progress h5 {
    text-shadow: 1px 1px 1px #000;
}

/* EXPERIENCE */
#experience {
    background: #d82c2e;
}
#experience .heading h2 {
    color: #fff;
}
.timeline {
    padding: 30px 10px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline >li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline li .timeline-badge {
    color: #d82c2e;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container {
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted {
    width: 50%;
    float: right;
}
.timeline-panel {
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background: #fff;
}
.timeline-panel-container-inverted .timeline-panel {
    float: left;
    margin-left: 40px;
}
.timeline-panel:after {
    position: absolute;
    top: 6px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

/*EDUCATION*/
#education {
    background: #fff;
    text-align: center;
}
#education .heading h2 {
    color: #d82c2e;
}
.education-block {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}
.education-block h5 {
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block .glyphicon {
    font-size: 40px;
}
.education-block h3 {
    color: #d82c2e;
}
.education-block h4 {
    margin-bottom: 20px;
}
.education-block p {
    font-weight: bold;
}
education-block .red-divider {
    margin-bottom: 20px;
}

/*************login*********************/
#connect{
    padding:0 0 20px 0;
}
#login {
    margin-top: 50vh;
    /* poussé de la moitié de hauteur de viewport */
    
    transform: translateY(-50%);
    /* tiré de la moitié de sa propre hauteur */
    
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 18px #ccc;
    max-width: 500px;
    text-align: center;
}
#login form {
    text-align: center;
}
#login input {
    text-align: center;
}

/***************Messages Flash et Autres***********************/
.flash {
    margin-right: auto;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 0 0 18px #ccc;
    width: 50%;
    text-align: center;
}
.flashconnect {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 0 0 18px #ccc;
    width: 50%;
    text-align: center;
}
.noRequest {
    padding: 20px;
    text-align: center;
    font-size: 2em;
    background-color: #00a6d6;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
}
.noComment {
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    border: 2px solid #00a6d6;
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
}


/***************PORTFOLIO*****************/
#portfolio {
    background: #d82c2e;
}
#portfolio img {
    max-width: 600px;
    max-height: 400px;
}
#portfolio .heading h2 {
    color: #fff;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
    color: #fff;
}
.left {
    background: #d82c2e;
}
.right {
    background: #d82c2e;
}
.carousel-indicators {
    bottom: 0px;
}
.carousel-indicators li {
    border-color: #fff;
}
.carousel-indicators li.active {
    background-color: #fff;
}
#myCarousel .item {
    padding: 40px 30px;
}
#myCarousel .item h3 {
    color: #fff;
    font-style: italic;
}
.port img {
    max-width: 800px;
    max-height: 600px;
}
.folioView {
    padding-bottom: 80px;
}
.folview{
    max-height: 600px;
}
/* FOOTER */
footer {
    background: #333;
    position: relative;
    bottom:0;
    padding:25px;

}
footer .glyphicon {
    font-size: 25px;
    margin: 10px;
    color: #d82c2e;
    height: 30px;
}
footer .glyphicon:hover {
    font-size: 27px;
}
footer h5 {
    color: #fff;
    font-weight: normal;
    font-size:14px;

}


/*************Contact Form****************/
.cont {
    margin-top: 50px;
}


.divider {
    width: 100px;
    height: 2px;
    background: #fff;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}
.heading {
    text-align: center;
    
}

.heading h2 {
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}


#contact-form {
    font-size: 20px;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
}

.blue {
    color: #0069d6;
}
.form-control {
    height: 50px;
    font-size: 18px;
}
#contact-form input[type=submit] {
    margin: 40px auto 0px;
    display: block;
}
.comments {
    font-style: italic;
    font-size: 18px;
    color: #d82c2e;
    height: 25px
}
#contact-form .thank-you {
    color: red;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}
/*********************************/
.admin {
    height: 100%;
    margin-top: 50px;
    margin-bottom: 10%;
}
.selectedtext {
    visibility: hidden;
    float: right;
}
.img_profil img {
    max-width: 100%;
    height: auto;
}
.photos {
    margin-bottom: 10px;
}
.username {
    margin-top: 2%;
}
/*********class exception****************/
.exception {
    width:100%;
    color: black;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    color: #fff;
    background-color: #F1948A;
    padding: 20px;
    position: absolute;
    top: 40%;
    

}
/************instagram****************/
.instagram {
    margin-top: 40px;
    background-color: #fff;
}
.instagram h3{
    
    font-weight: 400;

}
/*******************************/
.alert-warning {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
.warning {
    text-align: center;
}
/********icone technologie**********/
.fa-html5 {
    color: orange;
}
.fa-css3-alt {
    color: blue;
}
.fa-wordpress {
    color: #0087BE;
}
.fa-js {
    color: #F7DF1E;
}
.fa-php {
    color: #F7DF1E;
}
/***************************/
.imprime {
    text-align: center;
    margin: 0  auto;
    padding-bottom: 20px;
}
.imprime a{
    text-decoration: none;
    color:#fff;
    background-color: #D9534F;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.imprime a:hover{
    background-color: red;
}
@media screen and (max-width: 1025px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* cette classe est à ajouter lorsque que vous utilisez une version de Bootstap supérieure ou égale à la 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

}
@media screen and (max-width: 768px) {
    #main {
        padding-bottom: 85px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    #portfolio {
        background: #d82c2e;
    }
    
    #portfolio h2 {
        margin-bottom: 0;
    }
    
    #portfolio img {
        max-width: 350px;
        max-height: 200px;
    }
    .btnPortfolio{
        padding-bottom: 60px;
    }
    
    section .heading {
        text-align: center;
        padding-bottom: 0px;
    }
    #about .heading h1
    {
        font-size: 30px;
        margin-bottom: 15px;
    }
    #about .heading h3
    {
        font-size: 25px;
        margin-bottom: 15px;
    }
    
    .carousel-control.left,
    .carousel-control.right {
        background-image: none;
        color: #fff;
    }
    
    #myCarousel .item h3 {
        color: #fff;
        font-style: italic;
    }
    
    .button3 {
        margin-bottom: 20px;
    }
    
    #experience h3 {
        font-size: 20px;
    }
    
    #experience h4 {
        font-size: 15px;
    }
    
    #experience p {
        font-size: 11px;
    }
    
    
    
    .admin {
        margin-bottom: 130px;
        background-color: #fff;
    }
    
    .pad {
        margin-bottom: 20px;
    }
    
    .all {
        background-color: #fff;
        margin-bottom: 120px;
    }
    
    .btn-reduc {
        margin-top: 5px;
    }

    #rudr_instafeed
    {
        padding-bottom: 60px;
    }
    #devis  h2 {
        color: black;
        font-size: 30px;
        text-align: center;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 50px;
    }
    #devis  h5 {
        color: black;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
    }
    #devis p{
        color:grey;
        border-bottom: 15px;
    }
    .rimg img{
        height:200px;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    .contact {
        margin-bottom: -5px;
        padding-bottom: 30px;
    }
    #contact h2{
        font-size: 22px;
    }
    #contact label{
        text-align: left!important;
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    #contact-form{
        font-size:15px;
        margin-bottom: 80px;
    }
    .comments{
        font-size:15px;
    }
    .button2{
        padding:10px;
    }
    .bar input{
        max-height:30px;
    }
    .my-4{
        margin-top: 50px;
    }
    .admin my-4{
        margin-top: 10px;
    }
    .btn0{
        margin-top: 5px;
    }
    .btn1{
        margin-top: 5px;
    }
    .btn2{
        margin-top: 5px;
    }
}